<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Costa Rica Example</title>
</head>
<body>
    <div class="container">
    <h1>House Price Guesser!</h1>
    <form action="/form" method="post" class='col-md-6'>
        <div class="row mt-3">
            <label for="bedroom">Number of Bedrooms:</label>
            <input type="number" class="form-control" name="bedroom">
        </div>
        <div class="row mt-3">
            <label for="bathroom">Number of Bathrooms:</label>
            <input type="number" class="form-control" name="bathroom">
        </div>
        <div class="row mt-3">
            <label for="sqft">SQFT of House:</label>
            <input type="number" class="form-control" name="sqft">
        </div>
        <button class="btn btn-primary mt-4">Submit</button>
    </form>
</div>
</body>
</html>